body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

i {
    margin: 5px;
}

th {
    background-color:lightskyblue;
}

.card {
    border: outset;
}

#TermName-error, #TermDefinition-error {
    color: red;
}

#addCard {
    width: 50rem;
    background-color: lightskyblue;
    margin: 100px;
    padding: 15px;
}

.navbar-brand {
    color: yellow;
    font-weight: 600;
    font-size: 32px;
}

.navbar {
    background-color: black;
}

label {
    display:none;
}

.form-group {
    font-weight: bold;
}